.table {
  margin-top: 20px;
  min-width: 400px;
  background: #E6E6E6;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  min-width: 500px;


  .table-header {
    background: #ffffff;
    display: grid;
    grid-template-columns: 20% 39.7% 39.7%;
    grid-template-rows: 25%;
    border-bottom: 1px solid #E6E6E6;
    padding: 5px 0 5px 0;
  }

  .table-content {
    height: 500px;
    overflow: auto;
  }

  .table-row {
    display: grid;
    grid-template-columns: 20% 39.7% auto;
    grid-template-rows: 25%;
    grid-gap: 1px;
    border-bottom: 1px solid #E6E6E6;

    div {
        background: #ffffff;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  }

  @media only screen and (max-width: 600px) {
    min-width: 300px;
  }
}